{% load static %}


<div class="site-box">
    <h1 class="section__title">
        <a href="/self-account/course/{{ course.slug }}/">&#10094  {{ course.title }}</a>
    </h1>
</div>

<div class="site-box">
    <div class="account__les-container">
        <div></div>
            <div class="account__les-title">
                <p>Урок 0</p>
                <h1>Важная информация</h1>
            </div>

            <div></div>
            <div class="account__les-zero-space"></div>

            <div class="account__les-desc-title">Описание</div>
            <div class="account__les-desc">
                <p>РОДИТЕЛЬ, ИНФОРМАЦИЯ ДЛЯ ВАС!</p>
                <p>Доверие - очень ценный подарок. Мы благодарим вас за ваше доверие нашей школе. Наша цель - раскрыть
                     творчество в учениках, и показать им их огромный креативный потенциал, а чтобы это получилось,
                     мы предлагаем работать сообща!</p>
                <p>Мы подготовили несколько пунктов, которые помогут нам с вами эффективно создавать творческую
                     атмосферу для нашего главного человека– для вас ребенка, для нас– ученика.</p>
                <p>1. Постарайтесь организовать рабочее пространство. Учиться выходит веселее за столом, с полным
                     набором красок, карандашей, и необходимых для курса материалов.</p>
                <p>2. Любой навык- это длительная работа. Мы точно уверены, что вы разделяете с нами эту позицию.
                     Доверьте ребенку учиться самостоятельно. Не дорисовывайте за него, чтобы работа получилась
                     “красивой”, не садитесь с ним за домашнюю работу и передайте весь процесс обучения своему юному
                    творцу.</p>
                <p>- а что делать, если он сам просит меня помочь ему?</p>
                <p>Часто так происходит, если ребенок сталкивается с чем-то новым, неизвестным. Это и взрослым
                     страшно - идти во что-то новое. Тут на помощь приходят поддержка и вера- все получится, стоит
                    только самостоятельно начать.</p>
                <p>3. Поддержка- ключ к успеху! Активно проявляя интерес к тому, что изучает ребенок, и обсуждая
                     пройденные уроки - мы поддерживаем его мотивацию и интерес, взращиваем любознательность.
                    Внутри курсов вложены дополнительные материалы, и вопросы для совместного семейного обсуждения.</p>
            </div>

            <div></div>
            <div class="account__les-btns">
                <a class="account__les-tg" href="{{ course.telegram_channel_link }}" target="_blank"><div>Переходи в Телеграм-канал курса</div></a>
                <div class="account__les-zero-read"><a href="/self-account/course/{{ course.slug }}/">Прочитано</a></div>
                <div class="account__les-btns-lr">
                    <a href=""><div class="account__les-btn-l"></div></a>
                    <a href="/self-account/lesson/{{ course.slug }}/1/0/"><div class="account__les-btn-r account__les-btn-r-active"></div></a>
                </div>
            </div>

    </div>
</div>